:root {
    --font-color   : white;
    --bg-color     : rgb(20, 20, 20);
    --wrapper-color: rgb(37, 39, 41);
    --input-color  : rgb(55, 62, 70);
    --bor-rad      : 7px;
}

body {
    background-color: var(--bg-color);
    font-family     : 'Piazzolla', serif;
    color           : var(--font-color);
}

/* ============================== */
/* ========= COMPOSITION ======== */
/* ============================== */
.main-wrapper {
    display  : flex;
    flex-flow: row nowrap;
    gap      : 1rem;
    padding  : 1rem;

    max-width    : 1200px;
    margin-inline: auto;
}

.aside-wrapper {
    display  : flex;
    flex-flow: column wrap;
    gap      : 1rem;

    flex: 1 1 25%;
}

.aside-wrapper .notice {
    padding      : 1rem;
    border-radius: 7px;
    background   : var(--wrapper-color);
}

.aside-wrapper .notice>*+* {
    margin-top: 1rem;
}

.fusion-wrapper {
    display  : flex;
    flex-flow: column nowrap;
    gap      : 1rem;

    flex: 1 1 75%;
}

.control-wrapper {
    display      : flex;
    flex-flow    : column wrap;
    gap          : 2rem;
    padding      : 1rem;
    background   : var(--wrapper-color);
    border-radius: var(--bor-rad);
    order        : -99;
}

.shinies-wrapper {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-wrapper {
    display  : flex;
    flex-flow: row nowrap;
    gap      : 0.5rem;
}

.input-wrapper .input-item * {
    display: block;
}

.input-wrapper .input-item>*+* {
    margin-top: 0.5rem;
}

.button-wrapper {
    display  : flex;
    flex-flow: row nowrap;
    gap      : 0.5rem;
}

.button-wrapper * {
    flex: 1 1 100px;
}

.result-wrapper {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    flex                 : 1 1 60%;
}

.result-wrapper>* {
    text-align: center;
}

.pokemon-item>*+* {
    margin-top: 0.5rem;
}

.monstats-wrapper,
.monother-wrapper,
.monweak-wrapper {
    display  : flex;
    flex-flow: column nowrap;
    gap      : 0;
}

.monweak-wrapper {
    gap: 0.5rem;
}

/* ============================== */
/* ========== UTILITIES  ======== */
/* ============================== */
.h1-title {
    text-align    : center;
    text-transform: uppercase;
}

.no-dec {
    text-decoration: none !important;
    color          : inherit !important;
}

.italic {
    font-style: italic;
}

.input-wrapper input {
    width: 100%;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.picpok {
    width : 150px;
    height: 150px;
}

.picpokShiny {
    width : 288px;
    height: 288px;
}

.pictype {
    width : 89px;
    height: 39px;
}

.monweak img {
    max-width: 52px;
    height   : auto;
}

label {
    font-weight: 900;
    font-size  : 1.4rem;
}

input,
button {
    color        : inherit;
    padding      : 0.7rem;
    background   : var(--input-color);
    transition   : background-color ease 0.2s;
    border-radius: 3px;
}

input::placeholder {
    color: rgb(155, 155, 155);
}

input[type="button"] {
    cursor: pointer;
}

input[type="image"] {
    background: transparent;
}

a:link {
    color           : rgb(30, 130, 230);
    background-color: transparent;
    text-decoration : underline;
}

a:is(:visited, :active) {
    color: darkorchid;
}

a:active {
    text-decoration: dashed;
}

/* Unused style */
#bottom {
    font-family: 'Arial', serif;
    font-size  : 12px;
    position   : absolute;
    bottom     : 0;
    left       : 0;
    width      : 100%;
    text-align : center
}

/* ============================== */
/* ======= MEDIA QUERIES ======== */
/* ============================== */

/* MOBILE STYLES */
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .main-wrapper {
        flex-flow: column nowrap;
    }

    .aside-wrapper .notice {
        padding: 1.5rem;
    }

    .aside-wrapper .control-wrapper {
        order: 99;
    }

    .input-wrapper {
        flex-flow: column nowrap;
    }

    .button-wrapper {
        flex-flow: column nowrap;
    }

    .button-wrapper * {
        flex: 1 1 10px;
    }

    .shinies-wrapper {
        grid-template-columns: 1fr;
    }
}